h1{
	text-align: center;
}

img{
	border-radius: 2px;
	border-color:red;
	width: 200px;
}

nav{
	display:flex;
	
}

main{
	
	background-color: bisque;
}
#cua{
	float:left;
}

.titulo{
	background-color: orange;
}
.noticia{
	display:flex;
}

footer{
	background-color: black;
}

.tituloNot{
	text-align: right;
	
}